
@{
    ViewData["Title"] = "About";
}


<div class="container">
    <br />
    <br />
    <h2 class="center1">About Us</h2>

    <!-- About Section Content-->
    <div class="row">
        <div class="col-lg-4 ml-auto">
            <p class="lead">رواد صناعه الاثاث المعدنى الرائد فى مجال صناعة الأثاث المعدنى والاثاث الخشبى المتعدد والاثاث المنزلى وكذلك الاثاث المكتبى . وما يميزنا هو دقه التصميم وجوده الاثاث المعدني هو وجود طاقم من افضل مصممي الاثاث المعدني     </p>
        </div>
        <div class="col-lg-4 mr-auto">
            <p class="lead"> انتشر الاثاث المعدني في العالم في السنوات الاخيرة لسد العجز في الاخشاب من ناحية والناحيه الاخري تفضيل البساطة على الثراء الزخرفي وتفضيل الخفيف والصحي على الثقيل الذي يصعب تنظيفه</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 ml-auto">
            <p class="lead">هذا النوع من الاثاث له ايضا اهميته وتاريخه، ويتلخص تاريخه في ايجاز في انه ظهر في الاربعينات من هذا القرن، فبعض الناس مال الى اقتناء حوامل الاضاءة الحديدية السوداء بدلا من الكريستال والبرونز او الخشبية وليس بالنسبة لاستخدام الاضاءة الكهربائية فقط بل عند استخدام الشموع كما في الكنائس ايضا.    </p>
        </div>
        <div class="col-lg-4 mr-auto">
            <p class="lead">ميزات الأثاث المعدني استخدام العناصر التعبيرية في تصميمة، ومع ان الزخارف الحديدية - الدوارة او المحورية والملوية - في تنغيماتها المختلفة هي بطبيعتها التكوينية ذات مفاهيم موسيقية ، الان ان توضيحها بعناصر اخرى مستفادة من الجو الموسيقي نفسه قد يكون هو معامل تعبيري رامز للموسيقى يربطها بالعمل الفني الوظيفي او يربط العمل الفني الاستعمالي بها ربطا قويا يساعد على تاكيد كل منها لمفهوم الاخر ويقوي اواصره</p>
        </div>
    </div>
</div>
