
@{
    ViewData["Title"] = "contact";
}

<style>
    #contact {
    padding-bottom:250px;
    padding-top:40px;
    }
</style>


<div class="container-fluid center" id="contact">
    <h1 class="@*text-center*@">Contact Us</h1>
    <div style="color:black; font-size:larger; ">
        <br />
        <h4>Mobile:01285638994</h4>
        <br />
        <div>
            <h3>Contact Us With WhatsApp</h3>
            <br />
            <br />
            <a id="whats" class="btn btn-success btn-social" href="https://api.whatsapp.com/send?phone=+201285638994" method="get" target="_blank"><i class="fab fa-whatsapp fa-3x"></i></a>
        </div>
        <br />
        <h4>Our Email is :ali.harhera93@gmail.com</h4>
    </div>
</div>

