@model finalMetalCore.Models.product

@{
    ViewData["Title"] = "Details";
}

<style>
    .img11 {
        height: 400px;
    }

    #carousel {
        padding-bottom: 40px;
    }
</style>

<input type="hidden" asp-for="@Model.Id" value="" />
<div id="carousel" class="center">
    <h1>Details</h1>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="~/images/@Model.Image1"><img src="~/images/@Model.Image1" class="d-block w-100 img11"></a>
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <a href="~/images/@Model.Image2"><img src="~/images/@Model.Image2" class="d-block w-100  img11"></a>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="carousel-item">
                <a href="~/images/@Model.Image3"><img src="~/images/@Model.Image3" class="d-block w-100  img11"></a>
                <div class="carousel-caption">
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="center">
        <h1 id="hov">@Model.Name</h1>
        <p class="hov">السعر:@Model.Price:جنيه</p>
    </div>
</div>

<div class="center">
    <a asp-action="products" class="btn btn-primary">Back to List</a>
</div>
